.app-header {
    display: flex;
    justify-content: center;
    height: 6.25rem;

    > div {
        display: flex;
    }

    .app-header-logo {
        width: calc(100% - 6.25rem);
    }

    .app-header-logo__link {
        display: flex;
        text-decoration: none;
        //width: calc(100% - 6.25rem);
        width: 100%;
        height: 6.25em;
        color:black;

        @media screen and (max-width: 767px) {
            // flex-direction: column;
            margin: 1rem 0 0 0;
            // justify-content: center;
            // align-items: center;
        }

        .app-header-logo__image {
            width: 6.25rem;
            height: 6.25rem;

            @media screen and (max-width: 767px) {
                width: 3rem;
                height: 3rem;
            }
        }
        .app-header-logo__text {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;

            width: calc(100% - 6.25rem);
            height: 6.25rem;
            
            
            > h1 {
                font-family: Troy-Regular;
                @media screen and (max-width: 600px) {
                    font-size: 1rem;
                }
                @media screen and (min-width: 601px) and (max-width: 768px) {
                    font-size: 1.5rem;
                }
                @media screen and (min-width: 769px) and (max-width: 1024px) {
                    font-size: 2rem;
                }
                @media screen and (min-width: 1024px) {
                    font-size: 3rem;
                }

                margin:1rem 0 0 1rem;
                color:black;
                
                @media screen and (max-width: 767px) {
                    margin: 0 0 0 1rem;
                }
            }

            > p {
                margin: 0;
                font-family: Sassoon-Regular;
                
                @media screen and (max-width: 767px) {
                    font-size: 0.75rem;
                    margin-left: 1rem;
                }
            }
        }
    }

}