.app-navigation {

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
        margin: 3rem 0 0 0;
        padding: 0;
        @media screen and (max-width: 768px) {
            justify-content: center;
            margin: 1rem 0 0 0;
        }
        > li {
            margin: 0;
            padding: 0 0 2rem 0;
            @media screen and (max-width: 768px) {
                width: calc(100% - 1rem);
            }
            @media screen and (min-width: 769px) and (max-width: 1024px) {
                width: calc(50% - 1rem);
            }
            @media screen and (min-width: 1024px) {
                width: calc(33.33% - 1rem);
            }
            height: 14rem;
            
            > .nav-item {
                display: block;
                height: 14rem;
                color: #000;
                font-family: Troy-Regular;
                text-decoration: none;
                text-transform: uppercase;
                transition: all 0.2s;
                background: color('gray');
                border: 10px solid white;
                border-radius: 20px;
                overflow: hidden;
                
                > div {
                    text-align: center;
                    height: 2.5rem;
                    line-height: 2.5rem;
                }
                > figure {
                    display: block;
                    margin: 0;
                    padding: 0;
                    height: 11.5rem;
                    background-position: center;
                    background-size: cover;
                }
            }

            @for $i from 1 through 9 {
                &:nth-child(#{$i}) {
                    > .nav-item {
                        cursor: pointer;
                        > div {
                            @if (lightness(color('#{$i}')) < 60) {
                                color: #fff;
                            }
                            background-color: color('#{$i}');
                        }
                        > figure {
                            background-image: url('../images/chapter-#{$i}.jpg');
                        }
                    }
                }
            }
        }
    }
}