@import 'config';
@import 'AppHeader';
@import 'AppFooter';
@import 'AppNavigation';
@import 'ViewHome';
@import 'ViewChapter';
@import 'ViewContent';


@font-face {
    font-family: Troy-Regular;
    src: url("../fonts/Troy-Regular.otf") format("opentype");
}

@font-face {
    font-family: Sassoon-Regular;
    src: url("../fonts/SassoonPri.otf") format("opentype");
}

@font-face {
    font-family: Sassoon-Bold;
    src: url("../fonts/SassoonPriBold.otf") format("opentype");
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Sassoon-Regular';
}

main {
    display: flex;
    justify-content: center;
    padding: 0 0 3rem 0;
    min-height: 100vh;
}

.inner-width {
    padding: 0 1rem;
    width: calc(100% - 2rem);
    max-width: calc(#{ $max-width } - 2rem);
    
}

.app-navigation > .inner-width {
    padding:0;
    width: 100%;
}

.breadcrumbs {
    display: block;
    list-style: none;
    margin: 0;
    padding: 1rem 0 0.5rem 1rem;
    > li {
        display: inline-block;
        margin: 0;
        padding: 0;
        &:not(:first-child):before {
            content: '>';
            display: inline-block;
            padding: 0 0.5rem;        
        }
        a {
            color: #000;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        span {
            color: $btn;
        }
    }
}

.lang {
    list-style: none;
    margin: 1rem 0 0 2rem;
    padding: 0;
    > li {
        margin: 0;
        padding: 0;
        > a {
            display: block;
            color: #000;
            text-decoration: none;
            > span {
                display: inline-block;
                padding-left: 0.5rem;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &.lang-bm {
        > li:nth-child(1) > a {
            color: $btn;
            &:before {
                content: '';
                display: inline-block;
                width: 0.5rem;
                height: 0.5rem;
                margin: 0.25rem 0 0 -0.5rem;
                background-color: $btn;
                border-radius: 0.5rem;
            }
        }
    }
    &.lang-nn {
        > li:nth-child(2) > a {
            color: $btn;
            &:before {
                content: '';
                display: inline-block;
                width: 0.5rem;
                height: 0.5rem;
                margin: 0.25rem 0 0 -0.5rem;
                background-color: $btn;
                border-radius: 0.5rem;
            }
        }
    }
}

.side-links {
    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        > div > div > ul > li {
            display: flex;
            flex-direction: column;
        }
    }
   @media screen and (min-width: 1720px) {
        position: absolute;
        right: 0;
        top: 19rem;
   }
    > div > div {
        display: inline-block;
        @media screen and (min-width: 1720px) {
            display: block;
        }
        padding: 0 0 0.125rem 0;
        margin: 0 0 0.5rem 0;
        font-size: 1.25rem;
        font-weight: bold;
        border-bottom: 0.125rem solid #000;
    }
    ul {
        list-style: none;
        padding: 0 0 1rem 0;
        margin: 0;
        @media screen and (max-width: 1719px) {
            display: flex;
        }
        li {
            margin: 0;
            padding: 0 0 0.125rem 0;
        }

        a {
            display: block;
            padding: 0.75rem 0;
           
            @media screen and (max-width: 768px) {
                width: 10rem;
            }
            @media screen and (max-width: 400px) {
                width: 6rem;
            }
            @media screen and (min-width: 769px) and (max-width: 1024px) {
                width: 12rem;
            }
            @media screen and (min-width: 1024px) {
                width: 16rem;
            }
            text-align: center;
            text-decoration: none;
            color: #fff;
            background-color: $btn;
        }

        @media screen and (max-width: 1719px) {
            > li {
                padding: 0 0.25rem 0 0;
            }
            > li:first-child > a {
                border-top-left-radius: 0.75rem;
                border-bottom-left-radius: 0.75rem;
            }
            > li:last-child > a {
                border-top-right-radius: 0.75rem;
                border-bottom-right-radius: 0.75rem;
            }
        }
        @media screen and (min-width: 1720px) {
            > li:first-child > a {
                border-top-left-radius: 0.75rem;
            }
            > li:last-child > a {
                border-bottom-left-radius: 0.75rem;
            }
        }

    }
}

.view {
    .chapter-title {
        font-family: Troy-Regular;
        margin-bottom: 2rem;
        @media screen and (min-width: 1720px) {
            margin-bottom: 4rem;
        }
        height: 4rem;
        line-height: 4rem;
        text-align: center;
        font-size: 1.25rem;
    }

    p,
    .goals li {
        line-height: 1.5rem;
    }
}