$blue: rgb(47, 103, 156);
$slider-blue: rgba(47, 103, 156, 0.9);
$slider-gray: rgba(0, 0, 0, 0.4);
$slider-shadow: rgba(0, 0, 0, 0.8);
$black: #000;
$white: #fff;
$btn: #CD171A;
$btn-hover: darken($btn,5%);
$btn-active: darken($btn,10%);