.view.view-content {
    
  @for $i from 1 through 9 {
    &.view-color-#{$i} {
      .chapter-title {
          @if (lightness(color('#{$i}')) < 60) {
              //color: #fff;
          }
          //background-color: color('#{$i}');
      }
    }
  }
  .chapter-title {
    color: #fff;
    background-color: $btn;
    border-radius: 20px;
  }
  

> section {
  counter-reset: section;
  padding: 2rem 2.5rem;
  margin: 0 0 0 1rem;
  border-left: 0.125rem solid $btn;

  > h2 {
    font-size: 1.5rem;
    margin: 2rem 0 0 0;
    cursor: pointer;

    &:before {
      counter-increment: section;
      content: counter(section);
      display: inline-block;
      height:16px;
      width:16px;
      color:white;
      padding: 1rem;
      background-color: $btn;
      border-radius: 2rem;
      font-size: 1.5rem;
      line-height: 1rem;
      margin: 0 1rem 0 -4rem;
      
    }
  }

  

  a {
    display: inline-block;
    //margin-bottom: 0.25rem;
  }

}
}
.view.view-content-type-story {
  > section {
    @media screen and (max-width: 767px) {
      padding: 1rem 1rem;
      audio {
        margin-left: -1rem;
      }
    }
  }
}

.view.view-content-type-exercises {
  > section {
    padding-right:0;
    
    > div {
      @media screen and (max-width: 767px) {
        margin-left: -1rem;
          >p > a {
            word-break: break-all;
          }
      }
    }
  }
}