@import 'vars';

.view.view-chapter {
    
  > section {
    .gallery {
      display: none;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
  
  @for $i from 1 through 9 {
    &.view-color-#{$i} {
      .chapter-title {
        border: 10px solid white;
        border-radius: 20px;
        overflow: hidden;
          @if (lightness(color('#{$i}')) < 60) {
              //color: #fff;
          } @else {
            //color: #000;
          }
          //background-color: color('#{$i}');
      }
    }
  }
  
  .chapter-title {
    color: #fff;
    background-color: $btn;
  }

  .links {
    display: flex;
    justify-content: center;
    padding: 1rem;
    
    @media screen and (max-width: 767px) {
      display: flex;
      flex-wrap: wrap;
    }
    > a {
      display: inline-block;
      margin: 0 1rem;
      padding: 1rem 2rem;
      height: 1.5rem;
      line-height: 1.5rem;
      text-decoration: none;
      color: #fff;
      background-color:$btn;
      border-radius: 20px;
      // font-family: 'Sassoon-Regular'
      @media screen and (max-width: 767px) {
        margin: 1rem 0.5rem;
        width:20rem;
      }
    }

    a:hover{
      background-color:$btn-hover;
    }
  }
}

aside {
  background-color: #FBF1E6;
  padding: 2rem 6rem;
  counter-reset: section;
  margin: 1rem 2rem 0 2rem;
  padding: 0 0 2rem 2.5rem;
  border-left: 0.125rem solid $btn;
  @media screen and (max-width: 767px) {
    margin-right: 0;
  }
  
  > p {
    max-width: 80ch;
    font-family: Sassoon-Regular;
    font-size: 1.125rem;
    margin-left:2rem;
  }
  > h2 {
    margin: 0 0;
    font-size: 3rem;
    padding-top: 2rem;
    text-align: center;
    font-family: Sassoon-Bold;
    
    @media screen and (max-width: 767px) {
      font-size: 1.5rem;
      margin-left: -2rem;
    }
    
  }
  > h3 {
    font-family: Sassoon-Bold;
    font-size: 1.5rem;
    margin: 3rem 0 0 0;

    /*
    &:before {
      counter-increment: section;
      content: counter(section);
      display: inline-block;
      height:16px;
      width:16px;
      color:white;
      padding: 1rem;
      background-color: $btn;
      border-radius: 2rem;
      font-size: 1.5rem;
      line-height: 1rem;
      margin: 0 1rem 0 -4rem;
    }
    */
    > span {
      display: inline-block;
      margin: 0 1rem 0 -4rem;
      height: 1rem;
      width: 1rem;
      color:white;
      padding: 1rem;
      background-color: $btn;
      border-radius: 2rem;
      font-size: 1.5rem;
      line-height: 1rem;
    }

  }
}

.timeline {
  margin: 0.5rem 0 3rem 0;
}

section {
  margin-top: 3rem;
  font-family: Sassoon-Regular;
  max-width: 80ch;
  > h2 {
    font-size: 3rem;
    // text-align: center;
    border-top: #FBF1E6 2px solid;
    padding-top: 2rem;
    margin: 3rem 0 0 2rem;
    font-family: Sassoon-Bold;
    
  }
  > h3 {
    font-size: 1.5rem;
    font-family: Sassoon-Bold;
    margin: 3rem 0 0 4rem;
  }
  > h4 { 
    font-size: 1.25rem;
  }
  p {
    max-width: 80ch;
    font-family: Sassoon-Regular;
    font-size:1.125rem;
    a {
      text-decoration: none;
      padding: 0.75rem 1.5rem;
      background-color: $btn;
      color: white;
      border-radius: 10px;
      &.pdf {
        text-transform: lowercase;
        // &:after {
        //   display: inline-block;
        //   content: '';
        //   background-image: url('../images/pdf-file.svg');
        //   background-size: 20px 20px;
        //   height: 20px;
        //   width: 20px;
        //   margin-left: 1rem;
        // }
      }
    }
    a:before {
      display: inline-block;
      text-align: center;
      content: '';
      background-image: url('../images/external.svg');
      background-size: 20px 20px;
      height: 20px;
      width: 20px;
      margin-right:1rem;
    }
    a.pdf:before {
      background-image: url('../images/download.svg');
    }
  a:hover{
    background-color:$btn-hover;
  }
  a:active{
    background-color: $btn-active;
  }
  }
  ul {
    font-size:1.125rem;
    margin: 3rem 0 0 6rem;
  }
}

.goals {
  > ul {
    margin-top: 1rem;
    @media screen and (max-width: 767px) {
      margin-left: 1rem;
  }
  }
}

.view-content-type-story section{
  h2, h3 {
    display: none;
  }

  h1 {
    font-size: 2rem;
  }

  h1 + div {
    padding: 0 0 2rem 0;
    margin: 0 0 2rem 0;
    border-bottom: #FBF1E6 2px solid;
  }

  blockquote {
    font-size: 1.25rem;
    @media screen and (max-width: 767px) {
      margin: 1rem 0;
  }
  }

  h2:before {
  display:none !important;
 }
h4 > a {
  text-decoration: none;
      padding: 0.75rem 1.5rem;
      background-color: $btn;
      color: white;
      border-radius: 10px
    }
    a:before {
      display: inline-block;
      text-align: center;
      content: '';
      background-image: url('../images/sound.svg');
      background-size: 20px 20px;
      height: 20px;
      width: 20px;
      margin-right:1rem;
    }
    a:hover{
      background-color:$btn-hover;
    }
    a:active{
      background-color: $btn-active;
    }
}
