<template>
  <div :class="`view view-chapter inner-width view-color-${ chapter }`">
    <ul class="breadcrumbs">
      <li>
        <router-link :to="`/${ lang }`">{{ lang == 'bm' ? 'Hjem' : 'Heim' }}</router-link>
      </li>
      <li><span>{{ chapterTitle }}</span></li>
    </ul>

    <h1 class="chapter-title">
      {{ chapterTitle }}
    </h1>

    <div class="side-links">
      <div v-html="dboks"></div>
      <div>
        <div>Historier i samfunnsfag</div>
        <ul>
          <li>
            <a :href="`${ audiobooks[lang] }`" target="_blank">
              Lydbok {{ lang == 'bm' ? 'bokmål' : 'nynorsk' }}
            </a>
          </li>
        </ul>
      </div>
    </div>

    <slider :slides="slides"/>
    <section v-html="bodyHtml"></section>
    <div class="links">
        <router-link :to="`/${ lang }/${ chapter }/${ chapterTitle }/Laererfortelling`">{{ links.story.name }}</router-link>
        <router-link :to="`/${ lang }/${ chapter }${ links.exercises.url }`">{{ links.exercises.name }}</router-link>
    </div>
    
    
    <aside v-html="asideHtml"></aside>
    <section class="goals" v-html="goalsHtml"></section>
  </div>
</template>


<script>
import { baseCmsUrl, baseCmsNode } from '../../config';
import Slider from '@/components/Slider.vue';
import { constants } from 'fs';

export default {
  name: 'Content',
  props: ['lang', 'chapter'],
  components: {
    Slider
  },
  data() {
    return {
      chapterTitle: '',
      bodyHtml: '',
      asideHtml: '',
      goalsHtml: '',
      timeline: '',
      links: {
        story: {
          name: '',
          url: '',
        },
        exercises: {
          name: '',
          url: '',
        },
      },
      slides: [],
      dboks: '',
      audiobooks: {
        bm: 'https://ebok.no/lydbok/lesedilla_marianne-nielsen/',
        nn: 'https://ebok.no/lydbok/lesedilla_marianne-nielsen-2/',
      },
    }
  },
  async mounted() {
    let lang = this.lang == 'bm' ? 'nor-NO' : 'nno-NO';

    if (lang.length != 6) {
      lang = 'bm';
    }

    let nodeId = 0;

    await this.$http.get(`${ baseCmsUrl }node/${ baseCmsNode }children?depth=1&fields=title&lang=${ lang }`).then((response) => {
      this.chapterTitle = response.data[this.chapter - 1].fields.title.text;
      nodeId = response.data[this.chapter - 1].node_id;
    });

    this.$http.get(`${ baseCmsUrl }node/${ nodeId }?lang=${ lang }`).then((response) => {
      this.bodyHtml = response.data.fields.body.content;

      let asideHtmlBeforeReplace = document.createElement('div');
      asideHtmlBeforeReplace.innerHTML = response.data.fields.aside.content;

      for (let title of asideHtmlBeforeReplace.querySelectorAll('h3')) {
        let titleSplit = title.innerHTML.split(':');

        let titleNumber = '<span>' + titleSplit[0] + '</span>';

        let titleTmp = '';
        for (let i = 1; i < titleSplit.length; i++) {
          titleTmp = titleTmp + ':' + titleSplit[i];
        }
        titleTmp = titleTmp.substr(1);
        let newTitle = titleNumber + titleTmp;

        title.innerHTML = newTitle;
      }
      this.asideHtml = asideHtmlBeforeReplace.innerHTML;

      var htmlObject = document.createElement('div');
      htmlObject.innerHTML = this.bodyHtml;

      for (let image of htmlObject.querySelectorAll("ul.gallery > li")) {
        this.slides.push({
          image:  image.children[0].src,
          text:  image.children.length == 3 ? image.children[2].innerHTML : image.children[1].innerHTML,
          copyright: image.children[0].dataset.copyright,
        });
      }

    });

    this.$http.get(`${ baseCmsUrl }node/${ nodeId }/children?depth=2&fields=title,body,image&lang=${ lang }`).then((response) => {
      this.links.story = {
        name: response.data[0].fields.title.text,
        url: response.data[0].url
      }
      this.links.exercises = {
        name: response.data[1].fields.title.text,
        url: response.data[1].url
      }
      this.dboks = response.data[3].fields.body.content;
    });


    // kompetansegoal
    this.$http.get(`${ baseCmsUrl }node/${ nodeId }/children?depth=2&fields=aside`).then((response) => {
      this.goalsHtml = response.data[1].fields.aside.content;
    });

  }
} 
</script>
