<template>
  <div class="view view-landing-page inner-width">
    <h1>{{ title }}</h1>
    <section>
      <ul>
        <li v-for="(link, linkId) in links" :key="linkId">
          <router-link :to="`/${ lang }/Kapittel/${ linkId + 1 }`">
            {{ link.fields.title.text }}
          </router-link>
        </li>
      </ul>
    </section>
  </div>
</template>


<script>
import { baseCmsUrl, baseCmsNode } from '../../config';


export default {
  name: 'ChaptersLandingPage',
  props: ['lang'],
  components: {
  },
  data() {
    return {
      title: '',
      links: [],
      authenticated: false,
      user: {},
    }
  },
  mounted() {
    let lang = this.lang == 'bm' ? 'nor-NO' : 'nno-NO';
    if (lang.length != 6) {
      lang = 'bm';
    }

    this.$http.get(`${baseCmsUrl}path/${baseCmsNode}kapittler?lang=${ lang }`).then((response) => {
      this.title = response.data.fields.title.text;

      let nodeId = response.data.node_id;
      this.$http.get(`${baseCmsUrl}node/${nodeId}/children?depth=2&lang=${ lang }`).then((response) => {
        this.links = response.data;
        return;
      });  
    });
  },


} 
</script>
