<template>
  <div :class="`view view-content view-content-type-${ contentType } inner-width view-color-${ chapter }`">
    <ul class="breadcrumbs">
      <li>
        <router-link :to="`/${ lang }`">{{ lang == 'bm' ? 'Hjem' : 'Heim' }}</router-link>
      </li>
      <li>
        <router-link :to="`/${ lang }/${ chapter }/${ chapterTitle.replace(/ /g, '-') }`">{{ chapterTitle }}</router-link>
      </li>
      <li><span>{{ breadcrumbsCurrentItem }}</span></li>
    </ul>
    <h1 class="chapter-title">
      {{ chapterTitle }}
    </h1>
    <section v-html="bodyHtml"></section>
  </div>
</template>


<style>
.view-content-type-exercises h2:not(.open) + div {
  display: none;
}
</style>


<script>
import { baseCmsUrl, baseCmsNode } from '../../config';
import { setTimeout } from 'timers';


export default {
  name: 'Content',
  props: ['lang', 'chapter', 'contentType'],
  components: {
  },
  data() {
    return {
      chapterTitle: '',
      bodyHtml: '',
      breadcrumbsCurrentItem: '',
    }
  },
  methods: {
    showHide(e) {
      if (e.target.classList.contains('open')) {
        e.target.classList.remove('open');  
      } else {
        e.target.classList.add('open');
      }
    },

  },
  async mounted() {
    let lang = this.lang == 'bm' ? 'nor-NO' : 'nno-NO';
    if (lang.length != 6) {
      lang = 'bm';
    }
    let nodeId = 0;

    await this.$http.get(`${ baseCmsUrl }node/${ baseCmsNode }children?depth=1&fields=title,body&lang=${ lang }`).then((response) => {
      this.chapterTitle = response.data[this.chapter - 1].fields.title.text;
      nodeId = response.data[this.chapter - 1].node_id;
    });

    this.$http.get(`${ baseCmsUrl }node/${ nodeId }/children?depth=2&fields=title,body&lang=${ lang }`).then((response) => {
      if (this.contentType == 'story') {
        let bodyHtmlBeforeReplace = response.data[0].fields.body.content;
        var bodyHtmlAfterReplace = bodyHtmlBeforeReplace.replace('<audio', '<audio controlsList="nodownload"');

        this.bodyHtml = bodyHtmlAfterReplace;
        this.breadcrumbsCurrentItem = response.data[0].fields.title.text;

      } else {
        // this.bodyHtml = response.data[1].fields.body.content;

        let bodyHtmlBeforeReplace = document.createElement('div');
        bodyHtmlBeforeReplace.innerHTML = response.data[1].fields.body.content;
        for (let link of bodyHtmlBeforeReplace.querySelectorAll('a')) {
          if (link.innerHTML.includes('.pdf')) {
            link.classList.add('pdf');
          }
        }
        this.bodyHtml = bodyHtmlBeforeReplace.innerHTML;


        this.breadcrumbsCurrentItem = response.data[1].fields.title.text;
      }

      setTimeout( () => {
        // console.log('sel: ', this.$el.querySelectorAll('.view h2'));

        let audio = this.$el.querySelector('audio');
        if (audio) {
          audio.oncontextmenu = function (e) {
            e.preventDefault();
          };
        }

        for (let exercise of this.$el.querySelectorAll('.view h2')) {
          exercise.addEventListener('click', this.showHide, false);
        }

      }, 250);
    });    

  }
} 
</script>
