<template>
  <div class="view view-home inner-width">
    <!-- <h1 class="chapter-title">
      {{ chapterTitle }}
    </h1> -->
    <AppNavigation :lang="lang"></AppNavigation>
  </div>
</template>


<script>
import { baseCmsUrl, baseCmsNode } from '../../config';
import AppNavigation from '@/components/AppNavigation.vue';

export default {
  name: 'home',
  props: ['lang'],
  components: {
    AppNavigation,
  },
  data() { 
    return {
      bodyHtml: '',
      asideHtml: '',
      chapterTitle: 'Choose your chapter'
    }
  },
  mounted() {
    // this.$http.get(`${baseCmsUrl}path/${baseCmsNode}Hjem`).then((response) => {
    //   this.bodyHtml = response.data.fields.body.content;
    //   this.asideHtml = response.data.fields.aside.content;
    //   return;
    // });
  }
}
</script>
