<template>
  <header class="app-header">
    <div class="inner-width">
      <AppHeaderLogo :lang="currentLang" />
      <ul :class="`lang lang-${ currentLang }`">
        <li>
          <router-link :to="linkBM"><span>Bokmål</span></router-link>
        </li>
        <li>
          <router-link :to="linkNN"><span>Nynorsk</span></router-link>
        </li>
      </ul>
    </div>
  </header>
</template>


<script>
import AppHeaderLogo from '@/components/AppHeaderLogo.vue';

export default {
  name: 'AppHeader',
  data() {
    return {
      linkBM: '/bm',
      linkNN: '/nn',
      currentLang: 'bm',
    }
  },
  components: {
    AppHeaderLogo,
  },
  watch: {
    '$route' (to, from) {

      if ((to.path == '/') || (to.path == '/bm') || (to.path == '/nn')) {
        this.linkBM = '/bm';
        this.linkNN = '/nn';
      } else {
        let linkBM = to.path.replace('/nn/', '/bm/');
        let linkNN = to.path.replace('/bm/', '/nn/');

        this.linkBM = linkBM;
        this.linkNN = linkNN;
      }

      if ((to.path == '/bm') || (to.path.includes('/bm/'))) {
        this.currentLang = 'bm';
      }
      if ((to.path == '/nn') || (to.path.includes('/nn/'))) {
        this.currentLang = 'nn';
      }
      if (this.currentLang.length > 2) {
        this.currentLang = 'bm';
      }
    }
  },
  methods: {
    
  },
  mounted() {
    if (this.$route.params.lang == 'nn') {
      this.currentLang = 'nn';
    }
  }
}
</script>
