<template>
  <div class="app-header-logo">
    <div class="">
      <router-link :to="`/${ lang }`" class="app-header-logo__link" exact>
        <img src="../assets/images/logo-img.jpg" class="app-header-logo__image" alt="Lesedilla logo">
        <div class="app-header-logo__text">
          <h1>Historier i samfunnsfag</h1>
          <p>Elin Grøtan, Marianne Nielsen</p>
        </div>
      </router-link>
    </div>
  </div>
</template>
 

<script>
export default {
  name: 'AppHeaderLogo',
  props: ['lang'],
  data() {
    return {
      //lang: this.$route.params.lang != undefined ? this.$route.params.lang : 'bm'
    }
  },
}
</script>

