<template>
  <nav role="navigation" class="app-navigation">
    <div class="inner-width">
      <ul>
        <li v-for="(link, linkId) in links" :key="linkId">
          <router-link v-if="authenticated" :to="`/${ langA }/${ linkId + 1 }${ link.url }`" exact class="nav-item">
            <div>{{ link.fields.title.text }}</div>
            <figure></figure>
          </router-link>

          <div v-else @click="login()" class="nav-item">
            <div>{{ link.fields.title.text }}</div>
            <figure></figure>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</template>


<script>
import MoAuth from '@mo-platform/auth';
import { baseCmsUrl, baseCmsNode } from '../../config';

const auth = new MoAuth();

export default {
  name: 'AppNavigation',
  props: ['lang'],
  data() { 
    return {
      links: [],
      showMenu: true,
      authenticated: false,
      user: {},
      langA: this.lang == undefined ? 'bm' : this.lang
    }
  },
  methods: {
    toggleMenu() {
      this.showMenu = !this.showMenu;
    },
    login() {
      auth.logout();
      auth.authorize({ 'redirectUrl': `https://historierisamfunnsfag.app.fagbokforlaget.no/` });
      // auth.authorize({ 'redirectUrl': `https://bok.app.fagbokforlaget.no/` });
    },
  },
  async beforeMount() {
    auth.checkToken()
      .then((user) => {
        this.user = user;
        this.authenticated = true;

      })
      .catch(err => {
        throw new Error(err);
      });
  },
  mounted() {
    let lang = 'bm'; 
    lang = this.lang == 'nn' ? 'nno-NO' : 'nor-NO';
    if (lang.length != 6) {
      lang = 'bm';
    }
    
    this.$http.get(`${baseCmsUrl}node/${baseCmsNode}children?depth=1&lang=${ lang }`).then((response) => {
      this.links = response.data;
    });
    
  }
}
</script>
