<template>
  <div class="c-carousel__wrapper" :class="fullScreen ? 'c-carousel__wrapper--modal' : ''" v-if="slides.length">
    <carousel 
      class="c-carousel" ref="carousel"
      :paginationEnabled="false" 
      :navigationEnabled="true"
      :perPage="1"
      :centerMode="true"
      :navigationNextLabel="'❯'"
      :navigationPrevLabel="'❮'"
      :speed="0"
      >
      <slide v-for="(slide, index) in slides" :key="index">
        <div class="c-carousel__item">
          <img class="c-carousel__image" :src="slide.image"/>
          <div class="c-carousel__description">
            <div class="c-carousel__buttons" :class="infoVisible ? '' : 'c-carousel__buttons--bottom'">
              <button class="c-carousel__button" @click="toggleInfo">{{ infoText }}</button>
              <button class="c-carousel__button" @click="toggleFullScreen(index)" :navigateTo="1">{{ fullScreenText }}</button>
            </div>
            <p v-if="infoVisible">{{slide.text}}
              <span class="c-carousel__copyright">{{ slide.copyright }}</span>  
            </p>
          </div>
        </div>
        <div class="c-carousel__pages">{{ index + 1 }} av {{ slides.length }}</div>
      </slide>
    </carousel>
  </div>
</template>

<script>
import { Carousel, Slide } from 'vue-carousel';

export default {
  name: 'Slider',
  props: ['slides'],
  components: {
    Carousel,
    Slide
  },

  data () {
    return {
      // slides: [
      //   {
      //     image: 'https://www.ctvnews.ca/polopoly_fs/1.4037876!/httpImage/image.jpg_gen/derivatives/landscape_1020/image.jpg',
      //     text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus venenatis nisi rhoncus, rhoncus odio ac, vulputate neque. Sed a metus est. Maecenas scelerisque eget tellus ut interdum. Sed hendrerit risus odio, eu malesuada tellus semper sed. Aenean id dolor a eros mollis dictum. Sed sed finibus diam, vitae finibus mi.'
      //   },
      //   {
      //     image: 'https://cdn.pixabay.com/photo/2018/02/09/21/46/rose-3142529_960_720.jpg',
      //     text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus venenatis nisi rhoncus, rhoncus odio ac, vulputate neque. Sed a metus est. Maecenas scelerisque eget tellus ut interdum.'
      //   }
      // ],
      infoVisible: true,
      infoText: 'Skjul tekst',
      fullScreen: false,
      fullScreenText: 'Fullskjerm',
    }
  },

  methods: {
    toggleInfo() {
      this.infoVisible = !this.infoVisible;
      this.infoVisible ? this.infoText = 'Skjul tekst' : this.infoText = 'Vis tekst';
    },

    toggleFullScreen(slideId) {
      this.fullScreen = !this.fullScreen;
      this.fullScreen ? this.fullScreenText = 'Minimer' : this.fullScreenText = 'Fullskjerm';
      setTimeout( () => {
        this.$refs.carousel.goToPage(slideId);
      }, 50);
    }

  }
}
</script>

<style lang="scss">
@import '@/assets/scss/vars.scss';

.c-carousel__wrapper--modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: auto;
  height: 100vh;
  overflow: auto;
  background: $slider-shadow;
  margin: auto;

  .c-carousel {
    margin: auto;
    max-height: 100vh;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
  }

  .c-carousel__item {
    max-height: 100vh;
    display: inline-block;
  }

  .c-carousel__image {
    height: auto;
    width: auto;
    max-width: 100%;
  }
}

.c-carousel {
  margin: 1em;
}

.c-carousel__item {
  overflow: hidden;
  text-align: center;
  position: relative;
}

.c-carousel__image {
  height: auto;
  width: 100%;
  position: relative;
}

.c-carousel__description {
  position: absolute;
  bottom: 3px;
  background-color: $slider-blue !important;
  color: $white;
  width: 100%;

  p {
    padding: 1em 1em 0 1em;
    > span {
      padding-top: 1em;
      display: block;
      text-align: left
    }
  }
}

.c-carousel__buttons {
  position: absolute;
  top: -20px;
  right: 0;
}

.c-carousel__buttons--bottom {
  top: -56px;
}

.c-carousel__button {
  display: inline-block;
  background: $blue;
  height: 40px;
  padding: 10px;
  border: 0;
  color: $white;
  font-size: 16px;
  margin: 0 1em 0 0;
  cursor: pointer;
}

.c-carousel__pages {
  position: absolute;
  top: 0;
  font-weight: bold;
  color: $white;
  text-align: center;
  background-color: $slider-gray;
  padding: 1em 1.4em;
  margin-left: 50%;
  transform: translate(-50%, 0);
  min-width: 50px;
}

.VueCarousel-navigation-button {
  color: $white !important;
  font-size: 35px;
  background-color: $slider-gray !important;
  padding: 10px 8px 15px 8px !important;

  &.VueCarousel-navigation-next, 
  &.VueCarousel-navigation-prev {
    transform: translateY(-50%) translateX(0) !important;
  }
}
</style>